#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo-container {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.logo {
  height: 3em;
  padding: 0;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #ff64acaa);
}

.card {
  padding: 2em;
}

.fine-text {
  font-size: 0.7rem;
  color: #888;
}

.box {
  width: 320px;
  height: 280px;

  border-radius: 16px;
  background: rgba(11, 11, 12, 0.199);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border: 1px solid rgba(183, 171, 255, 0.075);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);

  padding: 12px;
  margin: 1rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;


  text-align: left;
  font-weight: 500;
}

.box-input {
  width: 90%;
  height: auto;
  padding: 0.5rem;

  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  outline: none;

  color: rgba(255, 255, 255, 0.815);
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
  font-family: 'Cal Sans', sans-serif;

  transition: all 0.3s ease;
}

.box-input:focus {
  background: rgba(0, 0, 0, 0.3);
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.05);
}

.box-input:hover {
  box-shadow: 0 0 20px 3px rgba(255, 255, 255, 0.05);
}

.box-input::placeholder {
  color: rgba(255, 255, 255, 0.2);
  font-family: 'Cal Sans', sans-serif;
}

.box-answer-text {
  font-size: 1.2rem;
  padding-left: 18px;
  font-weight: 600;
  color: #ffffffed;
  width: 100%;
  text-align: left;
  margin: 0;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.1));
}

.box-question-text {
  font-size: 1rem;
  padding-left: 18px;
  font-weight: 200;
  color: #ffffff;
  width: 100%;
  text-align: left;
  margin: 1px;
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.1));
}

.submission-button {
  width: 50%;
  height: 3rem;
  padding: 1rem;

  background: linear-gradient(135deg, #F9516B 0%, #FF7070 100%);
  border: none;
  border-radius: 12px;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 4px 15px rgba(255, 107, 107, 0.4);
  margin: 1rem auto;
  transition: all 0.3s ease;
}

.submission-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 20px rgba(255, 107, 107, 0.6);
  filter: brightness(1.1);
}

.gradient-text {
  background: linear-gradient(to bottom,
      #ffcfd6,
      hsla(335, 100%, 50%, 0.5));
  background-size: 100% 200%;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;

  /* Subtle glow */
  filter: drop-shadow(0 0 15px rgba(255, 104, 210, 0.3));
}