@font-face {
  font-family: 'Cal Sans';
  src: url('./assets/fonts/CalSans-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: 'Cal Sans', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;

  color-scheme: light dark;
  color: rgba(255, 242, 242, 0.87);
  /* background-color: #242424; Removed to show gradient */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #f25388;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  /* 3-color gradient background */
  background-color: #17132c;
  background-image:
    radial-gradient(circle at top left, rgba(140, 22, 250, 0.151), transparent 70%),
    radial-gradient(circle at top right, rgba(18, 40, 71, 0.247), transparent 70%),
    radial-gradient(circle at bottom center, rgba(255, 0, 98, 0.1), transparent 90%);
  background-attachment: fixed;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #ff6498;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    /* background-color: #ffffff; Removed to show gradient */
  }

  a:hover {
    color: #b15e7e;
  }

  button {
    background-color: #f9f9f9;
  }
}