#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo-container {
  position: absolute;
  top: 2rem;
  left: 2rem;
}

.logo {
  height: 3em;
  padding: 0;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #ff64acaa);
}

.card {
  padding: 2em;
}

.fine-text {
  color: #888;
}

.box {
  width: 290px;
  /* or min-width */
  height: 180px;
  /* square */
  border-radius: 16px;
  /* key part */
  background: rgba(11, 11, 12, 0.199);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border: 1px solid rgba(183, 171, 255, 0.075);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);

  padding: 12px;
  margin: 1rem auto;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-weight: 500;
}

.box-input {
  width: 100%;
  height: 100%;

  background: transparent;
  border: none;
  outline: none;

  color: white;
  font-size: 16px;
}

.box:focus-within {
  border-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2),
    0 8px 32px rgba(0, 0, 0, 0.4);
}